# Bytecode and compiled files
*.class
*.pyc
*.pyo
__pycache__/

# Logs and outputs
*.log
*.out
*.tmp
*.bak
*.swp

# Java tooling
*.jar
*.war
*.ear

# Python environments
.env
.venv/
env/
venv/

# IDE and editor folders
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Output folders
data/clbg_code_notCompileable/
data/rosetta_code_grouped/

